body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

h3, b, strong {
    color: #f25d00;
}

code {
    padding: 2px 5px;
    font-size: 90%;
    color: #f25d00;
    background-color: #ececff;
    border-radius: 4px;
    font-weight: bold;
}

nav{
    width: 260px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #383e4b;
    color: black;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
nav ul li a i{
    margin-right: 10px;
    color: white;
    font-size: 17px;
    position: relative;
    top: 3px;
}


nav ul li a i.done{
    color: #90db73;
}

nav ul li a{
    padding: 15px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
nav ul li a.completed:after {
    font-family: "simple-line-icons";
    content: "\e080";
    font-weight: bold;
    color: #34d434;
    margin-left: 10px;
}
nav ul li a:hover{
    background-color: #22262e;
}

.content{
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    box-sizing: border-box;
    margin-top: 0px;
    border-top: 0px;
    padding: 10px 50px;
}
.clearfix{
    clear: both;
}
